[submodule "resin-bsp-beaglebone"]
	path = resin-bsp-beaglebone
	url = git@github.com:resin-io/resin-bsp-beaglebone.git
[submodule "resin-bsp-edison"]
	path = resin-bsp-edison
	url = git@github.com:resin-io/resin-bsp-edison.git
[submodule "resin-bsp-fsl-arm"]
	path = resin-bsp-fsl-arm
	url = git@github.com:resin-io/resin-bsp-fsl-arm.git
[submodule "resin-bsp-intel"]
	path = resin-bsp-intel
	url = git@github.com:resin-io/resin-bsp-intel.git
[submodule "resin-bsp-odroid"]
	path = resin-bsp-odroid
	url = git@github.com:resin-io/resin-bsp-odroid.git
[submodule "resin-bsp-parallella"]
	path = resin-bsp-parallella
	url = git@github.com:resin-io/resin-bsp-parallella.git
[submodule "resin-bsp-raspberrypi"]
	path = resin-bsp-raspberrypi
	url = git@github.com:resin-io/resin-bsp-raspberrypi.git
[submodule "resin-bsp-ts"]
	path = resin-bsp-ts
	url = git@github.com:resin-io/resin-bsp-ts.git
[submodule "resin-bsp-via-arm"]
	path = resin-bsp-via-arm
	url = git@github.com:resin-io/resin-bsp-via-arm.git
[submodule "resin-bsp-zc702"]
	path = resin-bsp-zc702
	url = git@github.com:resin-io/resin-bsp-zc702.git
[submodule "yocto-daisy/meta-openembedded"]
	path = yocto-daisy/meta-openembedded
	url = git://github.com/openembedded/meta-openembedded
[submodule "yocto-fido/meta-openembedded"]
	path = yocto-fido/meta-openembedded
	url = git://github.com/openembedded/meta-openembedded
[submodule "yocto-daisy/poky"]
	path = yocto-daisy/poky
	url = git://git.yoctoproject.org/poky
[submodule "yocto-fido/poky"]
	path = yocto-fido/poky
	url = git://git.yoctoproject.org/poky
[submodule "resin-device-types"]
	path = resin-device-types
	url = git@github.com:resin-io/resin-device-types.git
